    <div class="page-header">
        <h1> Máster en Ingeniería Web
        <br>
        <small> Universidad de Oviedo - Analizador de sentimiento
        </small>
        </h1>
    </div> 
    <div class="row-fluid">
        <div class="span8 offset1">
            <div chart></div >
        </div>
        <div class="span8 offset2">
            <form ng-submit="fetch()">
                <fieldset>
                <legend>Filtro</legend>
                Palabra: 
                <input type="text" ng-model="topic" placeholder="universo" required/>
                <br/>
                Fecha:
                <input type="text" ng-model="date" placeholder="2009-08-19" required/>
                <br/>
                Mímimo:
                <input type="number" ng-model="min" placeholder="3" required/>
                <br/>
                Máximo:
                <input type="number" ng-model="max" placeholder="6" required/>
                <br/>
                <input type="submit" id="buscar" value="Filtrar" />
                </fieldset>
            </form>
        </div>
        <div class="well span8 offset2">
            <p>Historial</p>
            <ul class="unstyled">
                <li ng-repeat="data in historyData">
                    <a href="" ng-click="searchFromHistory(data.value)">
                        {{data.name}}
                    </a>
              
                </li>
            </ul>
        </div>
        
        <div class="span8 offset2">
            <p class="lead">Información de debug</p>
            <p>Tweets</p>
            <pre> {{filtered}} </pre>
            <p>Valoraciones</p>
            <pre> {{rated|json}} </pre>
            <p>Datos de diagrama</p>
            <pre> {{dataArray}} </pre>
        </div>
    </div>